/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #8da2b1;
    color: #030303;
}

/* Header Styling */
header {
    background-color: #2d3e50;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

nav .logo h1 {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f3a847;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.btn {
    background-color: #591668;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.share-btn:hover {
    background-color: #a02fe6;
}

/* Hero Section */
.explore {
    background-image: URL('trav2.jpeg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(11, 11, 11);
    padding: 0 20px;
}

.tinfo h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tinfo p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #f3a847;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e6892f;
}

/* Destinations Section */
.destinations {
    padding: 60px 20px;
    text-align: center;
}

.destinations h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: #241648;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(17, 1, 35, 0.318);
    width: 300px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 24px;
    margin: 20px;
}

.card p {
    font-size: 16px;
    color: #e7dddd;
    padding: 0 20px 20px 20px;
}

/* Footer */
footer {
    background-color: #2d3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}